
@font-face {
    font-family: "FontinSmallCaps";
    font-weight: normal;
    font-style: normal;
    src: local("☺"), url("http://web.poecdn.com/font/fontin-smallcaps-webfont.woff") format("woff");
  }
  
@font-face {
  font-family: "Taipei Sans TC Beta";
  src: url("assets/fonts/TaipeiSansTCBeta-Regular.ttf");
}
